# Dependências
node_modules/

# Build
dist/
build/
*.tsbuildinfo

# Ambiente
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
tiny-swords/all